<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd

In [2]:
# Change the path to the dataset file if needed. 
PATH = 'data/athlete_events.csv'

In [3]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [5]:
df = data.loc[data['Year'] == 1996]
(df.loc[data['Sex'] == 'M'].min()['Age'], df.loc[data['Sex'] == 'F'].min()['Age'])

(14.0, 12.0)

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [12]:
df = data.loc[data['Year'] == 2000]
df = df.loc[df['Sex'] == 'M']
dgymnasts = df.loc[df['Sport'] == 'Gymnastics']['ID'].unique()
# distinct names
df = df['Name'].unique()
dgymnasts.shape[0] * 100 / df.shape[0]

1.4750608272506083

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [10]:
df = data.loc[data['Year'] == 2000]
df = df.loc[df['Sex'] == 'F']
df = df.loc[df['Sport'] == 'Basketball']
(df['Height'].mean(), df['Height'].std())

(182.38732394366198, 9.139462087892174)

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [12]:
df = data.loc[data['Year'] == 2002]
df = df.loc[df['Weight'] == df['Weight'].max()]
df['Sport'].to_string()

'99154    Bobsleigh'

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [10]:
data.loc[data['Name'] == 'Pawe Abratkiewicz']['Year'].unique().shape[0]

3

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [6]:
df = data.loc[data['Year'] == 2000]
df = df.loc[df['Team'] == 'Australia']
df = df.loc[df['Sport'] == 'Tennis']
df = df.loc[df['Medal'] == 'Silver']
df.shape[0]

2

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [9]:
df = data.loc[data['Year'] == 2016]
dfsw = df.loc[df['Team'] == 'Swizerland']
dfsw = dfsw.loc[dfsw['Medal'].isin(['Gold', 'Silver', 'Bronze'])]
dfse = df.loc[df['Team'] == 'Serbia']
dfse = dfse.loc[dfse['Medal'].isin(['Gold', 'Silver', 'Bronze'])]
if dfsw.shape[0] < dfse.shape[0]:
    print('Yes')
else:
    print('No')

Yes

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [9]:
df = data.loc[data['Year'] == 2014]
d1 = df.loc[(df['Age'] >= 15) & (df['Age']  < 25)]['Name'].unique()
d2 = df.loc[(df['Age'] >= 25) & (df['Age']  < 35)]['Name'].unique()
d3 = df.loc[(df['Age'] >= 35) & (df['Age']  < 45)]['Name'].unique()
d4 = df.loc[(df['Age'] >= 45) & (df['Age']  <= 55)]['Name'].unique()
r = [x.shape[0] for x in [d1,d2,d3,d4]]
r
# risposta A

[1193, 1397, 150, 5]

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [24]:
if data.loc[(data['City'] == 'Lake Placid') & (data['Season'] == "Summer")].shape[0] != 0:
    print('Yes')
else:
    print('No')
if data.loc[(data['City'] == 'Sankt Moritz') & (data['Season'] == "Winter")].shape[0] != 0:
    print('Yes')
else:
    print('No')

No
Yes

0              Barcelona
1                 London
2              Antwerpen
3                  Paris
4                Calgary
5                Calgary
6            Albertville
7            Albertville
8            Lillehammer
9            Lillehammer
10           Albertville
11           Albertville
12           Albertville
13           Albertville
14           Lillehammer
15           Lillehammer
16           Lillehammer
17           Lillehammer
18           Albertville
19           Albertville
20           Albertville
21           Albertville
22           Lillehammer
23           Lillehammer
24           Lillehammer
25           Lillehammer
26           Los Angeles
27           Los Angeles
28        Salt Lake City
29              Helsinki
               ...
271086            Torino
271087            Moskva
271088            Moskva
271089           Beijing
271090            London
271091            London
271092       Lillehammer
271093       Lillehammer
271094            Nagano
271095            Nagano
271096    Salt Lake City
271097    Salt Lake City
271098            Torino
271099            Athina
271100         Amsterdam
271101            Munich
271102            Sydney
271103            Athina
271104    Salt Lake City
271105            Sydney
271106            Athina
271107            Munich
271108            Sydney
271109            Athina
271110    Rio de Janeiro
271111         Innsbruck
271112             Sochi
271113             Sochi
271114            Nagano
271115    Salt Lake City
Name: City, Length: 271116, dtype: object

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [18]:
df1995 = data.loc[data['Year'] == 1995]['Sport'].unique()
df2016 = data.loc[data['Year'] == 2016]['Sport'].unique()
(n95, n16) = (df1995.shape[0], df2016.shape[0])
n16 - n95

34